<div class="navbar">
    <app-navbar></app-navbar>
</div>
    <!-- <div class="background">
    <video autoplay muted loop id="myVideo">
        <source src="https://thumbs.gfycat.com/AjarJaggedClumber-mobile.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
</div> -->
<div class="background" >
    <app-sidebar></app-sidebar>
   <h1 class="app-name">MY APP</h1>
    <span class="notes">TEXT 1.....</span>
</div>
<div class='heading'>
    <!-- <h1>PRODUCTS</h1> -->
    <app-divider></app-divider>
</div>
<div class="grid">
    <app-card class="col-3"></app-card>
    <app-card class="col-3"></app-card>
    <app-card class="col-3"></app-card>
    <app-card class="col-3"></app-card>
</div>